<!-- 
------------------默认模板--------------
相当于入口文件,可用来嵌入打点文档等初始化处理
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>React学习文档</title>
    <link rel="icon" href="/favicon.png" type="image/x-icon" />
    <!-- 通过context获取umi提供的变量 -->
    <script src="<%= context.config.publicPath %>pdf/pdf.js"></script>
    <script>
        // 
    </script>
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
</body>

</html>